/* FONTS/TEXT */

body {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
  }
a {
    text-decoration: none;
}


/* DEFAULT */


.d-grid {
    display: grid;
}
.l-style-n {
    list-style: none;
}
.btn-dark {
    padding: 7px 25px;
    background-color: #2c3e50;
    border-radius: 30px;
    font-weight: 500;
    color: gainsboro;
}
.btn-yellow {
    font-size: 24px;
    padding: 7px 25px;
    background: linear-gradient(#FFE600, #FFB200);
    border-radius: 30px;
    font-weight: 700;
    color: #2C3E50;
}
.width1440 {
    width: 1440px;
    margin: 0 auto;
}
.width1140 {
    width: 1140px;
    margin: 0 auto;
}
.b-black {
    border: 3px solid #2c3e50;
    width: 260px;
    height: 260px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-radius: 135px 0 135px 0;
}
.b-yellow {
    border:3px solid #ffb200;
    width: 260px;
    height: 260px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-radius: 135px 0 135px 0;

}
.secondary-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 2em;
}
.m0 {
    margin: 0 auto;
}

/* HEADER */


.top-content {
    grid-template-columns: 0.7fr 2fr 2fr;
}
.logo img{
    margin-top: 2em;
    margin-left: 2em;
    width: 174px;
    height: 147px;
}
.telegram {
    margin-top: 5px;
    margin-left: 0.4em;
    width: 16px;
    height: 16px;
}
.instagram {
    margin-left: 2em;
    margin-top: 5px;
    width: 16px;
    height: 16px;
}
ul {
    padding-left: 0;
}
.top-menu {
    margin-top: 2em;
    align-self: flex-start;
    font-size: 18px;
}
.top-menu-list a{
    color: #2C3E50;
}
.top-menu-list a:hover {
    opacity:1;
    color: #ff6600;
    cursor: pointer;
}
.top-menu-list {
    grid-template-columns: repeat(4, auto);
    font-weight: 600;
}
.top-menu-list li:first-child {
    justify-self: end;
}
.top-menu-list li:nth-child(2) {
    justify-self: center;
}
.top-menu-list li:nth-child(3) {
    margin-right: -34px;
}
.top-contacts {
    margin-top: 2.64em;
    grid-template-columns: 20px 20px auto auto;
    align-self: flex-start;
    font-size: 18px;
}
.top-contacts p {
    margin: 0;
    padding-left: 5em;
    justify-self: end;
    align-self: center;
    font-weight: 400;
}
.top-contacts a:nth-child(4){
    margin-right: 3em;
    justify-self: end;
    align-self: center;
    text-decoration: underline;
    color: #89b2ff;
    font-weight: 500;
}
.top-contacts a:nth-child(4):hover {
    opacity:1;
    color: #ff6600;
    cursor: pointer;
}

/* SECTION */

/* SECITEM-1 */
 
.section-item-1 {
    grid-template-columns: 0.8fr 1.2fr;
}
.section-item-1 div:first-child {
    padding-bottom: 8em;
    align-self: center;
    justify-self: end;
}
.section-item-1 img {
    justify-self: center;
}
.section-item-1 h1 {
    line-height: 1.5em;
    font-size: 43px;
}
.section-item-1 h4 {
    margin-left: 3em;
    font-weight: 600;
    font-size: 28px;
}
.section-item-1 a {
    margin-left: 4.4em;
}
.section-item-1 a:hover {
    opacity:1;
    background: linear-gradient( #FFB200, #FFE600); 
    cursor: pointer;
}

/* SECITEM-2 */

.section-item-2 h2{
    padding: 2.4em;
}
.section-item-2 form{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
}
input[type="number"] {
    padding: 0.8em 1em;
    border: 0;
    border-radius: 4px;
    background: #E2EAF2;
}
input:focus {
    outline: none;
}
.select {
    background-color: #E2EAF2;
    border-radius: 4px;
    border: 0;
    color: #2c3e50;
    font-family: Montserrat;
    padding: 0.8em 1em;
}
.select option {
    background: #E2EAF2;
}
.select option:hover {
    background: #7a98b6;
    border-bottom: dashed 1px;
    outline: dotted red;
}


/* SECITEM-3 */

.section-item-3 h2{
    padding: 3em;
}
.course-item-1 {
    grid-area: ci1;
}
.course-item-2 {
    grid-area: ci2;
}
.course-item-3 {
    grid-area: ci3;
}
.course-item-4 {
    grid-area: ci4;
}
.course-item-5 {
    grid-area: ci5;
}
.course-item-6 {
    grid-area: ci6;
}
.course {
    grid-template-areas: "ci1 ci2 ci3"
                         "ci4 ci5 ci6" ;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 6em;
    justify-items: center;
}
.course a {
    align-self: flex-end;
    font-size: 20px;
    color: #7C98B5;
}
.course h4 {
    margin: 0;
    margin-bottom: 1em;
    align-self: auto;
    font-size: 24px;
    font-weight: 600;
}
.course p {
    color: #FE5501;
    justify-self: end;
    font-size: 24px;
    font-weight: 600;
}

/* SECITEM-4 */

.section-item-4 h5 {
    padding-top: 4em;
    padding-bottom: 2em;
}
.section-item-4 a:nth-child(2) {
    margin-left: 2em;
}
.section-item-4 a:nth-child(3){
    margin-left: 6em;
}
.section-item-4 a:hover {
    opacity:1;
    background: #ffffff; 
    color: #5c5c5c;
    cursor: pointer;
}
.section-item-4  {
    margin: 0 auto;
    margin-top: 7em;
    background: url("images/skype1.png") no-repeat;
    background-color: #E9B200;
}
.section-item-4 div:nth-child(1) {
    margin: 0 auto;
    padding-left: 7.5em;
    width: 1140px;
    height: 264px;
    background: url("images/photo-1521572267360-ee0c2909d518.jpg") no-repeat 830px;
    font-size: 22px;
}

/*SECITEM-5*/

.section-item-5 {
    margin-top: 4em;
}
.section-item-5 h4{
    margin-bottom: 2em;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.case {
    position: relative;
    opacity: 0;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 400px;
    text-align: center;
    color: #2c3e50;
    animation: fade .5s linear forwards;
    z-index: 1;
}
.case-img {
    width: 316px;
    height: 360px;
}
.cases {
    grid-template-areas: "c1 c2 c3"
                         "c4 c5 c6" ;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 30px;
}
.case-1 {
    grid-area: c1;
}
.case-1 img {
    position: absolute;
}
.case-1 p {
    padding: 0 45px 0 45px;

}
.case-1 p:hover{
    opacity:1;
    background: rgb(255, 217, 1, 0.5); 
    cursor: pointer;
}
.case-2 {
    grid-area: c2;
}
.case-2 img {
    position: absolute;
}
.case-2 p {
    padding: 0 40px 0 40px;
}
.case-2 p:hover{
    opacity:1;
    background: rgb(255, 217, 1, 0.5); 
    cursor: pointer;
}
.case-3 {
    grid-area: c3;
}
.case-3 img {
    position: absolute;
}
.case-3 p {
    padding-right: 85px;
    padding-left: 85px;
}
.case-3 p:hover{
    opacity: 1;
    background: rgb(255, 217, 1, 0.5); 
    cursor: pointer;
}
.case-4 {
    grid-area: c4;
}
.case-4 img {
    position: absolute;
}
.case-4 p:hover{
    opacity:1;
    background: rgb(255, 217, 1, 0.5); 
    cursor: pointer;
}
.case-5 {
    grid-area: c5;
}
.case-5 img {
    position: absolute;
}
.case-5 p {
    padding: 0 15px 0 15px;

}
.case-5 p:hover{
    opacity:1;
    background: rgb(255, 217, 1, 0.5); 
    cursor: pointer;
}
.case-6{
    grid-area: c6;
}
.case-6 img {
    position: absolute;
}
.case-6 p {
    padding: 0 50px 0 50px;

}
.case-6 p:hover{
    opacity:1;
    background: rgb(255, 217, 1, 0.5); 
    cursor: pointer;
}

/*SECITEM-6*/

.max-width-container {
    max-width: 100%;
    height: 550px;
    opacity: 1;
    background: #E2EAF2;
    position: relative;
    z-index: 1;
}
.why-create {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6em;
    margin: auto;
    width: 1140px;
    height: 500px;
    position: relative;
}
.text-block {
    line-height: 30px;
}
.text-block p {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #000;
    font-weight: 400;
    position: relative;
    z-index: 200;
}
.text-block h3 {
    font-size: 28px;
    font-weight: 600;
}

/* photo */

.rounded-photo {
    position: absolute;
    width: 450px;
    height: 450px;
    right: -10px;
    top: 10px;
    z-index: 200;
    background: url(.png);
    background-blend-mode: normal;
    border-radius: 231.5px 0px;
}
.rectangle {
    position: absolute;
    width: 450px;
    height: 450px;
    right: -53px;
    top: 52px;
    z-index: 200;
    border: 1px solid #FFB200;
    box-sizing: border-box;
    border-radius: 231.5px 0px;
}

/*Тарифы*/

.tarifes {
    margin-top: 5em;
    grid-template-areas: "tar tar tar"
                         "start pet intens" ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
}
.tarifes h2 {
    grid-area: tar;
}
.tarifes h4 {
    font-size: 18px;
}
.tarifes h3 {
    font-size: 24px;
}
.tarifes p {
    font-size: 36px;
    font-weight: 600;
}
.tarifes a:last-child {
    margin-top: 20px;
    color: #2C3E50;
}
.tarifes a:last-child:hover {
    opacity:1;
    color: #ff6600;
    cursor: pointer;
}
.tarifes a:nth-child(4):hover {
    opacity:1;
    background: linear-gradient( #FFB200, #FFE600); 
    cursor: pointer;
}
.good-start {
    grid-area: start;
    width: 320px;
    height: 450px;
    border: 3px solid #ffb200;
    text-align: center;
    align-content: center;
    grid-template-rows: 30px 50px 90px 90px 30px;
}
.teacher-pet {
    grid-area: pet;
    width: 420px;
    height: 499px;
    border: 3px solid #ffb200;
    text-align: center;
    align-content: center;
    grid-template-rows: 40px 60px 100px 100px 40px;
}
.intensive {
    grid-area: intens;
    width: 320px;
    height: 450px;
    border: 3px solid #ffb200;
    text-align: center;
    align-content: center;
    grid-template-rows: 30px 50px 90px 90px 30px;
}
.btn-yellow-tarifes {
    font-size: 24px;
    justify-self: center;
    align-self: center;
    padding: 7px 25px;
    background: linear-gradient(#FFE600, #FFB200);
    border-radius: 30px;
    font-weight: 700;
    color: #2C3E50;
}

/* SECITEM-7 */
.section-item-7 {
    background-color: #2C3E50;
    margin-top: 12em;
}
.result {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 210px;
    padding-left: 5em;
    color: #fffbfbc0;
}
.result h3 {
    font-weight: 500;
    font-size: 36px;
    align-self: center;
}
.result h5 {
    margin: 0 0;
    font-weight: 250;
    font-size: 18px;
    align-self: flex-start;
}

/* SECITEM-8 */


.background {
    background-color: #E2EAF2;
}
.review {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 310px;
    grid-gap: 20px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 180px;
    box-sizing: border-box;
    background-size: 150%;
    background-position: center;
}
.back-img-item-1 {
    background-image: url(images/keanu.jpg);
}
.back-img-item-2 {
    background-image: url(images/neo.jpg);
}
.back-img-item-3 {
    background-image: url(images/durov.jpg);
}
.back-img-item-4 {
    background-image: url(images/zendaya.jpg);
}
.r-i-col {
    grid-template-columns: auto 140px;
    grid-template-rows: 140px auto;
    justify-items: center;
    align-items: center;
}
.review h6 {
    font-size: 14px;
    line-height: 16px;
}
.review p {
    font-weight: 500;
    grid-template-rows: 1fr;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3em;
    justify-self: start;
    align-self: start;
}

/* SECITEM-9 */
.section-item-9 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 800px;
    padding: 10em;
}
.section-item-9 h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}
.section-item-9 h4 {
    font-size: 22px;
    font-weight: 400;
}
.section-item-9 a:hover { 
    opacity: 1;
    background: linear-gradient( #FFB200, #FFE600); 
    cursor: pointer;
}
.section-item-9 a {
    font-size: 20px;
    justify-self: center;
    align-self: center;
    align-content: flex-start;
    padding: 14px 25px;
    background: linear-gradient(#FFE600, #FFB200);
    border-radius: 30px;
    font-weight: 700;
    color: #2C3E50;
    
}

/* FOOTER */
.footer {
    height: 300px;
    background-color: #2C3E50;
    color: #FFFFFF;
}
.footer a {
    color: #ffffff;
}
.footer-content {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 150px;
}
.footer-menu-list {
    grid-template-columns: repeat(4, auto);
    align-self: center;
    justify-items: end;
}
.footer-contacts {
    grid-template-columns: repeat(3, auto);
    justify-self: center;
    align-self: center;
}
.telegram-footer {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 18px;
    height: 18px;
}
.instagram-footer {
    margin-top: 10px;
    width: 18px;
    height: 18px;
}
.logo-footer {
    justify-self: end;
    align-self: center;
}
.logo-footer img {
    width: 87px;
    height: 74px;
}








/*new page course*/

.podbor-course-1 {
    margin-top: 20px;
    grid-template-areas: "course-h2 course-h2 course-h2 course-h2"
                         "course-text course-text course-text course-image"
                         "btn1 btn2 . course-image"
                         ". . . course-image";
    grid-gap: 20px;

}
.podbor-course-1 h2 {
    grid-area: course-h2;
}
.podbor-course-1 p {
    grid-area: course-text;
    line-height: 30px;
}
.podbor-course-1 img {
    grid-area: course-image;
    width: 424px;
    height: 380px;
}
.btn-on {

    grid-area: btn1;
}
.btn-skype {
    grid-area: btn2;
}
.podbor-course-2 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.pyramide {
    overflow: auto;
    margin-top: 30px;
    margin: auto;
    max-width: 1200px;
    height: 900px;
    margin: auto;
    position: relative;
}
.super-top {
    margin-top: 35px;
    margin-left: 30px;
    float: left;
    width: 850px;
}
.top-p {
   width: 500px; 
   margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.low-p {
width: 450px;
margin-top: 35px;
margin-left: 30px;
}
.advanced {
position: absolute;
width: 150px;
height: 80px;
left: 980px;
top: 210px;
border: 1px solid #E12828;
box-sizing: border-box;
} 
.upper-intermediate {
position: absolute;
width: 330px;
height: 80px;
left: 800px;
top: 310px;
border: 1px solid #FE7F01;
box-sizing: border-box;
}
.intermediate {
position: absolute;
width: 500px;
height: 80px;
left: 630px;
top: 410px;
border: 1px solid #FFB200;
box-sizing: border-box;
}
.pre-intermediate {
position: absolute;
width: 700px;
height: 80px;
left: 430px;
top: 510px;
border: 1px solid #FFE600;
box-sizing: border-box;
}
.elementary {
position: absolute;
width: 900px;
height: 80px;
left: 230px;
top: 610px;
border: 1px solid #A1D0AC;
box-sizing: border-box;
}
.Start {
position: absolute;
width: 1100px;
height: 80px;
left: 30px;
top: 710px;
border: 1px solid #4BDC35;
box-sizing: border-box;
}
.babyad {
    position: absolute;
    width: 156px;
    height: 65px;
    left: 58px;
    top: 630px;
}
.babyblock {
    position: absolute;
    width: 84px;
    height: 109px;
    left: 280px;
    top: 486px;
}
.toddler {
    position: absolute;
    width: 63px;
    height: 133px;
    left: 472px;
    top: 360px;
}
.boy {
    position: absolute;
    width: 53px;
    height: 146px;
    left: 650px;
    top: 260px;
}
.youngster {
    position: absolute;
    width: 65px;
    height: 151px;
    left: 850px;
    top: 140px;
}
.man {
    position: absolute;
    width: 55px;
    height: 200px;
    left: 990px;
    top: 10px;
}
